Clipping-Automation/Clippiing Automation.json
{
  "name": "Clippiing Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Clipping Automation of Long Form Content",
        "formFields": {
          "values": [
            {
              "fieldLabel": "YouTube URl"
            },
            {
              "fieldLabel": "How many Shorts do you want to create?",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -240,
        -32
      ],
      "id": "429cc77d-5bbd-4833-8457-6913926d5390",
      "name": "On form submission",
      "webhookId": "d9707031-f03d-466f-9713-4487f1271bb4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.klap.app/v2/tasks/video-to-shorts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "<YOUR API KEY>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"source_video_url\": \"<YOUTUBE URL>\",\n  \"language\": \"en\",\n  \"target_clip_count\": 1,\n  \"max_clip_count\": 1,\n  \"editing_options\": {\n    \"captions\": true,\n    \"reframe\": true,\n    \"emojis\": true,\n    \"remove_silences\": true,\n    \"intro_title\": false\n  },\n  \"min_duration\": 15,\n  \"max_duration\": 60,\n  \"target_duration\": 30\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        -32
      ],
      "id": "04d95f49-0837-4ed6-bc46-d3a7034f64b7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.klap.app/v2/tasks/TASK_ID",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "<YOUR API KEY>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        -32
      ],
      "id": "c1063832-7b37-42eb-bcc6-683713ca1457",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "003bd677-ed52-408b-b9dd-b7ecd8ec34b8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        -32
      ],
      "id": "9774f27a-733a-44bd-9398-503254ca00a1",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        96
      ],
      "id": "1adca6ac-2799-47af-81eb-80a0568cab5f",
      "name": "Wait",
      "webhookId": "ffb8feab-c0e0-4f1c-a44e-14eff9d2d5b5"
    },
    {
      "parameters": {
        "url": "https://api.klap.app/v2/projects/OUTPUT_ID",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "<YOUR API KEY>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -128
      ],
      "id": "f9caebe1-219a-413e-a092-4a71b6eda25a",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.klap.app/v2/projects/OUTPUT_ID/SHORT_ID/exports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "<YOUR API KEY>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        -128
      ],
      "id": "eac1fd2c-ed35-41bb-b87b-726d795e3e6c",
      "name": "Export Request"
    },
    {
      "parameters": {
        "url": "https://api.klap.app/v2/projects/OUTPUT_ID/SHORT_ID/exports/EXPORT_ID",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "<YOUR API KEY>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        -128
      ],
      "id": "d36b2a79-a63c-4569-9e4b-b4f2a1eed618",
      "name": "Make Short"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fcc310bc-b6bd-4e13-bc2f-13a257b18df0",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        -128
      ],
      "id": "4126bc7a-9152-4881-b1b5-b9fea5b4d345",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        80
      ],
      "id": "725d23f3-9d92-4eca-803f-f3d48d614d50",
      "name": "Wait1",
      "webhookId": "f9a5c5fd-e49d-4bd4-9bc3-091f3eaa53f6"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Export Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Request": {
      "main": [
        [
          {
            "node": "Make Short",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Short": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Make Short",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b8e7baf5-4996-4d91-9523-0b53806c3d10",
  "meta": {
    "instanceId": "9580ada79c85d4603f9a68896ed18f88f51b21f04d42146a8ed865118c206cd5"
  },
  "id": "o3a-zOl4xOBA4Vsvd8Q6H",
  "tags": []
}